# Archivos de compilación y dependencias de Dart/Flutter
.dart_tool/
.packages
.pub-cache/
build/

# Archivos de configuración de IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos sensibles de firma de Android
/android/key.properties
/android/app/upload-keystore.jks
*.jks

# Archivos de configuración local
/lib/config/app_config.dart

# Herramientas locales (no versionar)
/tools/
